html{overflow: hidden;}

html, body{width: 100%; height: 100%; margin:0; padding:0;overflow: auto;}
 

header{
    padding: 0%;
    margin: 0%;
    text-align: center;
    background-image: url(백그라운드.jpg);
    background-size: cover;
}

.logobox{
	width: 50%; height: 500%;
    margin-left: 18%;
    margin-top: 10%;
    background-color: white;

    color: black;
    text-align: center;
    letter-spacing: -5;
    -webkit-text-stroke: 1px #000;
    font-family: "Qwigley", cursive;
    font-weight: 10;
    font-style: normal;
    font-size: 70px;

    display: flex;
    justify-content: center;
    align-items: center;


    width: 900px;
    height: 550px;
    box-shadow: 5px 5px 5px 5px gray;
	
	position: relative;
}

.content > .title{
	position: relative;
	top: 5%; left: 50%;
	transform: translate(-50%,-50%);
 
	font-size: 20px;
	font-weight: bold;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
 
}
.content:nth-child(even){background-color: #333;}


.title{
    text-align: center;

}

.logobox{
   margin-top: 5%;
}

section{
    
    width: 100%;
    height: 100px;
    display: block ;
    margin-top: 180px;
    background-color: #5B6D92;
}

.menu_box{
    display: flex;
    flex-direction: column;    
    align-content: flex-end;
    margin-top: 0;
}


.logo{
    display: inline-block;
    box-shadow: inset;
}

nav{
    display: flex;
    align-content:flex-end ;
}
a:link{
    
    margin-top:5px;
    color : pink;
    font-size: 20px;
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
}

a:visited{
    color: purple;
    border: solid 1px black;
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

a:hover{
    color: blue;
}

.pr_box{
    display: flex;
}

.my_pr_img{
    margin-top: 80px;
    display: flex;
    justify-content: left;
    size: 50%;
    width: 414px ;
    height: 588px ;
    position: sticky;
}

.logo{
    margin-top: 7%;
    width: 800px;
    height: 200px;
}

