body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    position: sticky;
    background-image: url(백그라운드.jpg);
    background-attachment: scroll;
    color: #fff;
    padding: 20px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: larger;
    font-weight: 150;
}
a:hover{
    color: #60492C ;
}

footer {
    background-image: url(백그라운드.jpg);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-position: center;
    text-align: center;
}